STATIC_DIR=D:\Users\songo\PycharmProjects\base_django_project\venv\Lib\site-packages\drf_yasg\static
SWAGGER_DIR=D:\Users\songo\PycharmProjects\base_django_project\venv\Lib\site-packages\drf_yasg\templates